[flake8]
max-line-length = 88
extend-ignore =
    # Ignore disagreement with Black - whitespace around `:`
    E203,
    # Ignore maximum line length
    E501,
    # Ignore disagreement with Black - linebreak before binary operator
    E503
exclude =
    .git,
    __pycache__,
    **/docs/*,
    **/node_modules/*,
    **/tests/*
docstring-convention=numpy
